<script type="text/javascript">
    $(function(){
        $("#search").keyup(function(){
            var texto = $(this).val();
            $("#ulItens li").css("display", "block");
            $("#ulItens li").each(function(){
            if($(this).text().toUpperCase().indexOf(texto.toUpperCase()) < 0)
                $(this).css("display", "none");
            });
        });
    });
</script>

<div class="modal fade" tabindex="-1" role="dialog" id="form-modal-search" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form method="POST" action=""> {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Titulo</h4>
                </div>

                <div class="form-group" style="margin: 20px 20px 0 20px;">
                    <input type="text" id="search" class="form-control" placeholder="Busrcar item...">
                </div>

                <div class="modal-body">
                    <h5>Sub Título do Form</h5>
                    <p>Conteúdo principal do form</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="btn-fechar">Fechar</button>
					<button type="submit" class="btn btn-primary" id="btn-confirmar">Confirmar</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->